* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Modal */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 23vh;
  right: 1vh;
  background-color: transparent;
  /*   width: 100%;
  height: 100vh; */
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 100;
}

/* hacer visible el modal  */
.modal-active {
  color: black;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  height: auto;
}

.modal-carrito {
  width: 30rem;
  height: auto;
  background-color: whitesmoke;
}

.productoEnCarrito {
  border-left: 5px solid rgb(110, 199, 229);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.boton-eliminar {
  background-color: whitesmoke;
  color: rgb(106, 124, 226);
  border: none;
  font-size: 20px;
}

.cartas {
  margin: 90px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.total-Cointainer {
  text-align: center;
  padding: 15px;
  display: none;
}
